/* === Font Set & Box Sizing === */

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* === Universal Styles === */

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

header,
footer {
  height: 2rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
}

.feature-container {
  padding: 2rem 3rem 2rem 1.5rem;
  max-width: 60%;
}

.media {
  max-width: 100%;
  height: auto;
}

.sidebar {
  width: 40%;
}

.preview {
  display: flex;
}

.image-container {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.preview-info {
  width: 65%;
}

.preview-info h6 {
  margin: .5rem 0;
}

h2,
h3,
h4,
h6,
span,
p {
  color: #594E39;
}

h6,
p,
span,
a {
  font-weight: lighter;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;

}

h6 {
  font-size: .85rem;
}

a {
  text-decoration: none;
  font-size: .8rem;
  transition-duration: 400ms;
  color: white;
}

span {
  font-size: .8rem;
}

/* === Header === */

header {
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: white;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 2.3rem;
}

.logo-container h5 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.logo-container h5 em {
  font-weight: lighter;
  color: gray;
}

.logo-container img {
  height: 100%;
  width: auto;
}

.mobile-nav {
  display: none;
}

nav {
  margin-right: 4rem;
}

nav span a {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #594E39;
  transition-duration: 300ms;
}

nav span a:hover {
  font-size: 1.1rem;
  border-bottom: 1px solid #344531;
}

@media only screen and (max-width: 750px) {
  nav {
    display: none;
  }

  .logo-container h2 {
    display: none;
  }

  .logo-container {
    width: 100%;
    justify-content: space-around;
  }

  header {
    padding: 1rem 0;
    align-content: center;
  }

  .mobile-nav {
    display: inline-block;
  }
}

/* === Main Content === */

main {
  position: relative;
  top: 4rem;
}

/* === Company Banner === */

.banner {
  background-color: lightgray;
}

.sidebar {
  display: flex;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 85%;
}

.sidebar-content h2 {
  font-weight: bold;
}

h4 {
  margin: 1rem 0;
}

a .button {
  background: #344531;
  color: white;
  letter-spacing: .12em;
  text-align: center;
  max-width: 80%;
  padding: .5rem;
  font-weight: lighter;
  transition: all 500ms;
}

a .button:hover {
  box-shadow: 5px 5px 4px #2B2B2B;
  font-size: 1rem;
  background: #557050;
}

@media only screen and (max-width: 750px) {
  .banner {
    flex-direction: column;
  }

  .feature-container {
    max-width: 100%;
    padding: 0;
  }

  .sidebar {
    margin: 0 auto;
    width: 100%;
  }

  .sidebar-content {
    padding: 2rem 1rem;
  }

  .sidebar-content h2 {
    font-size: 2.5rem;
  }

  .sidebar-content h4 {
    margin: 2rem 0 1.5rem 0;
    font-size: 1.5rem;
  }

  a .button {
    background: #557050;
    max-width: 100%;
    font-weight: normal;
    font-size: 1.2rem;
    box-shadow: 5px 5px 4px #2B2B2B;
  }

  a .button:hover {
    font-size: 1.5rem;
  }
}
/* === Info === */

.feature-container h2 {
  margin: 2rem 0 1.5rem 0;
}

.feature-container h6 {
  margin-top: 2rem;
}

.learn-previews {
  border: 1px solid lightgray;
}

.learn-previews .preview {
  border-top: 1px solid lightgray;
}

.preview {
  transition: background-color 500ms;
}

.preview:hover {
  background-color: lightgray;
}

.preview-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview-info a {
  color: #4295FF;
}

.preview-info a:hover {
  font-size: 1rem;
  color: #4200FF;
}

.mobile-image {
  display: none;
}

@media only screen and (max-width: 750px) {
  .info-feature {
    display: none;
  }

  .preview {
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
    align-items: center;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .preview .image-container {
    width: 100%;
  }

  .preview .image-container img {
    box-shadow: 5px 5px 4px #2B2B2B;
  }

  h3 {
    font-size: 1.7rem;
  }

  h6 {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    font-weight: normal;
  }

  .learn-previews .preview {
    border-top: none;
  }
}

/* === Courses Section === */

.start-learning {
  padding: 2rem 4.5rem;
  background-color: lightgray;
}

.start-learning h2 {
  text-align: center;
  font-size: 2.2rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.course {
  max-width: 25%;
  background-color: white;
  margin: 1rem;
  transition: box-shadow 400ms;
}

.course:hover {
  opacity: 0.8;
  box-shadow: 0 0 15px black;
}

.course img {
  width: 100%;
  height: auto;
}

.course-info {
  padding: 1rem 0 1.5rem 1rem;
}

@media only screen and (max-width: 750px) {
  .start-learning {
    padding: 2rem 1rem;
    background-color: white;
    border-bottom: 1px solid lightgray;
  }

  .start-learning h2 {
    font-size: 2.5rem;
  }

  .courses {
    margin-top: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .course {
    max-width: 100%;
    background-color: lightgray;
    display: flex;
    align-content: center;
    padding: 1rem 0 1.5rem 1rem;
    margin: .5rem;
    box-shadow: 2px 5px 10px black;
  }

  .course img {
    display: none;
  }

  .course-info h6,
  .course-info span {
    display: none;
  }

  .course-info h3 {
    font-size: 1.9rem;
  }
}

/* === Thesis Section === */

.thesis h2 {
  text-align: center;
  margin-top: 2rem;
}

.feature-container h3 {
  margin: 1.5rem 0 .5rem 0;
}

@media only screen and (max-width: 750px) {
  .thesis {
    padding: 2rem 0 1.5rem 0;
  }

  .thesis h2 {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
  }

  .feature-container {
    max-width: 100%;
  }

  .feature-container h3,
  .feature-container p {
    display: none;
  }

  .thesis-sidebar {
    display: none;
  }
}
/* === Footer === */

footer {
  border-top: 1px solid lightgray;
  position: relative;
  top: 4rem;
  background: #344531;
}

.social {
  color: white;
  margin-right: 6rem;
}

i {
  margin: 0 1rem;
}

i:hover {
  opacity: .8;
}

.mobile-i {
  display: none;
}

.copy,
.terms-privacy span {
  color: white;
}

.terms-privacy span:hover {
  opacity: .8;
}

@media only screen and (max-width: 750px) {
  footer {
    border-top: none;
  }

  .desktop-i {
    display: none;
  }

  .mobile-i {
    display: inline-block;
  }

  i {
    margin: .5rem;
  }

  .social {
    margin-right: 0;
  }

  .copy {
    font-weight: normal;
    font-size: 1rem;
  }

  .terms-privacy {
    display: none;
  }
}
