/* === Font Set & Box Sizing === */

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* === Universal Styles === */

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

header,
footer {
  height: 4rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
}

.feature-container {
  margin: 2rem 1.5rem;
  max-width: 60%;
}

.media {
  max-width: 100%;
  height: auto;
}

.sidebar {
  width: 40%;
}

.preview {
  display: flex;
}

.image-container {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.preview-info {
  width: 65%;
}

.preview-info h6 {
  margin: .5rem 0;
}

h1,
h3,
h4,
h6,
span,
p {
  color: #454545;
}

h6,
p,
span,
a {
  font-weight: lighter;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;

}

h6 {
  font-size: .85rem;
}

a {
  text-decoration: none;
  color: #4295FF;
  font-size: .8rem;
}

/* === Header === */

header {
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 2rem;
}

.logo-container em {
  color: grey;
  font-weight: lighter;
}

.mobile-nav {
  display: none;
}

.sign-in-container span {
  margin-left: 1rem;
}


/* === Company Banner === */

.banner {
  background-color: lightgray;
}

.banner .sidebar {
  display: flex;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-content h1 {
  font-weight: bold;
}

h4 {
  margin: 1rem 0;
}

.sidebar-content h6 {
  background: #454545;
  color: white;
  text-align: center;
  max-width: 87%;
  padding: .5rem;
  font-weight: lighter;
}


/* === Info === */

.feature-container h1 {
  margin: 2rem 0 1.5rem 0;
}

.feature-container h6 {
  margin-top: 2rem;
}

.learn-previews {
  border: 1px solid lightgray;
}

.learn-previews .preview {
  border-top: 1px solid lightgray;
}

.learn-previews .preview:last-child {
  background-color: lightgray;
}

.preview-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-image {
  display: none;
}
