/* === Font Set & Box Sizing === */

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* === Universal Styles === */

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

header,
footer {
  height: 2rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
}

.feature-container {
  margin: 2rem 1.5rem;
  max-width: 60%;
}

.media {
  max-width: 100%;
  height: auto;
}

.sidebar {
  width: 40%;
}

.preview {
  display: flex;
}

.image-container {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.preview-info {
  width: 65%;
}

.preview-info h6 {
  margin: .5rem 0;
}

h1,
h3,
h4,
h6,
span,
p {
  color: #454545;
}

h6,
p,
span,
a {
  font-weight: lighter;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;

}

h6 {
  font-size: .85rem;
}

a {
  text-decoration: none;
  color: #4295FF;
  font-size: .8rem;
}

span {
  font-size: .8rem;
}

/* === Header === */

header {
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: white;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 2rem;
}

.logo-container em {
  color: grey;
  font-weight: lighter;
}

.mobile-nav {
  display: none;
}

.sign-in-container {
  margin-right: 2rem;
}
.sign-in-container span {
  margin-left: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 700px) {
  .sign-in-container {
    display: none;
  }

  .logo-container h2 {
    display: none;
  }

  .logo-container {
    margin-left: 0;
    width: 100%;
    justify-content: space-around;
  }

  .mobile-nav {
    display: inline-block;
  }
}

/* === Main Content === */

main {
  position: relative;
  top: 4rem;
}

/* === Company Banner === */

.banner {
  background-color: lightgray;
}

.sidebar {
  display: flex;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-content h1 {
  font-weight: bold;
}

h4 {
  margin: 1rem 0;
}

.button {
  background: #454545;
  color: white;
  text-align: center;
  max-width: 80%;
  padding: .5rem;
  font-weight: lighter;
}

@media only screen and (max-width: 700px) {
  .banner {
    flex-direction: column;
  }

  .feature-container {
    max-width: 100%;
    margin: 0;
  }

  .sidebar {
    margin: 0 auto;
    width: 100%;
  }

  .sidebar-content {
    padding: 2rem 1rem;
  }

  .sidebar-content h1 {
    font-size: 2.5rem;
  }

  .sidebar-content h4 {
    margin: 2rem 0 1.5rem 0;
    font-size: 1.5rem;
  }

  .button {
    background: #848485;
    max-width: 100%;
    font-weight: normal;
    font-size: 1.2rem;
  }
}
/* === Info === */

.feature-container h1 {
  margin: 2rem 0 1.5rem 0;
}

.feature-container h6 {
  margin-top: 2rem;
}

.learn-previews {
  border: 1px solid lightgray;
}

.learn-previews .preview {
  border-top: 1px solid lightgray;
}

.learn-previews .preview:last-child {
  background-color: lightgray;
}

.preview-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-image {
  display: none;
}

@media only screen and (max-width: 700px) {
  .info-feature {
    display: none;
  }

  .preview {
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
    align-items: center;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .preview .image-container {
    width: 100%;
  }

  h3 {
    font-size: 1.7rem;
  }

  h6 {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    font-weight: normal;
  }

  .learn-previews .preview:last-child {
    background-color: white;
  }

  .learn-previews .preview {
    border-top: none;
  }
}

/* === Courses Section === */

.start-learning {
  padding: 2rem 4.5rem;
  background-color: lightgray;
}

.start-learning h1 {
  text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.course {
  max-width: 25%;
  background-color: white;
  margin: 1rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course-info {
  padding: 1rem 0 1.5rem 1rem;
}


/* === Thesis Section === */

.thesis h1 {
  text-align: center;
  margin-top: 2rem;
}

.feature-container h3 {
  margin: 1.5rem 0 .5rem 0;
}

.thesis-sidebar .preview:first-child {
  background: lightgray;
}


/* === Footer === */

footer {
  border-top: 1px solid lightgray;
  position: relative;
  top: 4rem;
}
